﻿/* généralités de la page */
body {
    margin: 10px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #2d88cc;
    text-transform: uppercase;
}

h1, h2, h3
{
    margin: 5px;
    font-weight: normal;
}

h3 {
    font-size: 13px;
    color: #888;
}

/* gestion du carrousel */
.slider {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

.slider-panel
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity:0;
    transition:1s all;
}

.slider-panel:nth-child(4n+1) {
	background-image: url(../img/picture-1.jpg);
}

.slider-panel:nth-child(4n+2) {
	background-image: url(../img/picture-2.jpg);
}

.slider-panel:nth-child(4n+3) {
	background-image: url(../img/picture-3.jpg);
}

.slider-panel:nth-child(4n+4) {
	background-image: url(../img/picture-4.jpg);
}

.slider-panel.active{    
    opacity:1;
}

.slider-controls {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.slider-control {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #555;
    border-radius: 50%;
    cursor: pointer
}

.slider-control.active {
    background-color: #fff;
}

/* CSS pour les switchs plus jolis
    vu sur https://www.w3schools.com/howto/howto_css_switch.asp
*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slide:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slide {
    background-color: #2196F3;
}

input:focus + .slide {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slide.round {
    border-radius: 34px;
}

.slide.round:before {
	border-radius: 50%;
}
