body
{
	font-family: arial;
	
	margin: 20px;
	padding: 10px;
}

input,select
{
	padding: 10px;
}

header
{
	margin-top: 20px;
	
	padding: 50px 20px 50px 300px;
	
	background-color: #CCC1DA;
	background-image: url(../img/iut.png);
	background-position : 50px;
	background-repeat: no-repeat;
	background-size: 200px;
	
	color: #FFFFFF;
	font-size: 30pt;
	
	text-transform: uppercase;
}

#controls{
    margin:10px;
    padding:10px;
    border : 1px solid black;
    background-color:lavender;
    font-size:larger;
}
#html{
    min-width:300px;
}
#result{
    min-height:200px;
    border : 1px solid black;
    padding:20px;
}

