body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';
    color: #000;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255,255,255, 0.7);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    overflow-y: auto;
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2em;
    color: #F0F0F0;
	font-weight:bold;
}

h2 {
    font-weight: normal;
    font-size: 16px;
}

input {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

content {
    height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .flex-row > div {
        margin-left: 10px;
    }

        .flex-row > div:first-child {
            margin-left: 0;
        }

.activities {
    margin: 5px;
    border: 1px solid #FFF;
    width: 230px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
}

#desired-activities {
    background-image: url(../img/accept.png);
}

#rejected-activities {
    background-image: url(../img/refuse.png);
}

.activity {
    width: 100px;
    height: 100px;
    margin: 5px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .activity.downhill-skiing {
        background-image: url(../img/ski-alpin.jpg);
    }

    .activity.cross-country-skiing {
        background-image: url(../img/ski-fond.jpg);
    }

    .activity.snowshoes {
        background-image: url(../img/raquettes.jpg);
    }

    .activity.sledge {
        background-image: url(../img/luge.jpg);
    }

    .activity.ice-skate {
        background-image: url(../img/patins.jpg);
    }
