body {
	font-family: arial;
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url('../img/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

input
{
	padding: 5px;
}

#content
{
	text-align: center;
}

canvas
{    
    background-color : #000000;    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}