body
{
	font-family: arial;
	
	margin: 0px;
	padding: 0px;
}

input
{
	padding: 10px;
}

.header
{
	margin-top: 20px;
	
	padding: 50px 20px 50px 300px;
	
	background-color: #CCC1DA;
	background-image: url(../img/logo.png);
	background-position : 50px;
	background-repeat: no-repeat;
	background-size: 200px;
	
	color: #FFFFFF;
	font-size: 30pt;
	
	text-transform: uppercase;
}

.header p
{
	margin: 0px;
}

.header .bigger
{
	font-size: 50pt;
}

.content
{
	margin: 20px;
	text-align: center;
}

.content h1
{
	text-transform: uppercase;
	font-size: 14pt;
	color: #563B77;
}

.question
{
	margin: 20px;
	padding: 10px;
}

.question:nth-child(2n)
{
	background-color: #EEEEEE;
}

.onglets
{
	list-style-type: none;
	padding: 0px;
	margin-bottom: -1px;
	text-align: left;
}

.onglet
{
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	border: 1px solid #AAAAAA;
	cursor: pointer;
}

.onglet.actif
{
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.panelOnglet
{
	display: none;
	border: 1px solid #AAAAAA;
}

.panelOnglet.actif
{
	display: block;
	padding: 10px;
}



