﻿body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#drawing-area {
    width: 100%;
    height: 100%;
}

#hud {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#human, #zombie
{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    align-items:center;
    margin: 5px 20px 5px 20px;
}


#human {
    padding: 10px 10px 10px 50px;
    background-image: url(../img/hud/soldier.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

#zombie {
    padding: 10px 50px 10px 10px;
    background-image: url(../img/hud/zombie.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

#vs {
    padding: 25px;
    background-image: url(../img/hud/versus.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
